<div class="contenedor">
  <header class="header">
    <h2>Hello and Welcome!!!</h2>
  </header>

  <main class="contenido">
    <h1>Axel Rodrigo Villar Mimbela</h1>
    <h3>Back-end Developer</h3>
  </main>

  <aside class="sidebar">
    <h3>FOTO</h3>
  </aside>

  <div class="widget-1">
    <h3>Tools and technologies:</h3>

    <div class="logos">
      <div class="logos-slide">
        <img src="../../../assets/Img/Angular.png" alt="" />
        <img src="../../../assets/Img/archlinux.png" alt="" />
        <img src="../../../assets/Img/git.png" alt="" />
        <img src="../../../assets/Img/IntelliJ-Idea.png" alt="" />
        <img src="../../../assets/Img/java.png" alt="" />
        <img src="../../../assets/Img/mysql.png" alt="" />
        <img src="../../../assets/Img/Neovim.png" alt="" />
        <img src="../../../assets/Img/postman.png" alt="" />
        <img src="../../../assets/Img/spring.png" alt="" />
        <img src="../../../assets/Img/typescript.png" alt="" />
        <img src="../../../assets/Img/vscode.png" alt="" />
      </div>

      <div class="logos-slide">
        <img src="../../../assets/Img/Angular.png" alt="" />
        <img src="../../../assets/Img/archlinux.png" alt="" />
        <img src="../../../assets/Img/git.png" alt="" />
        <img src="../../../assets/Img/IntelliJ-Idea.png" alt="" />
        <img src="../../../assets/Img/java.png" alt="" />
        <img src="../../../assets/Img/mysql.png" alt="" />
        <img src="../../../assets/Img/Neovim.png" alt="" />
        <img src="../../../assets/Img/postman.png" alt="" />
        <img src="../../../assets/Img/spring.png" alt="" />
        <img src="../../../assets/Img/typescript.png" alt="" />
        <img src="../../../assets/Img/vscode.png" alt="" />
      </div>
    </div>
  </div>

  <div class="widget-2">
    <div class="titlecm">
      <h2 class="title-wdg2">contact to me:</h2>
    </div>

    <div class="btn1">
      <button
        class="button type1"
        (click)="openWhatsApp()"
      ></button>
    </div>
    <div class="btn2">
      <button
        class="button type2"
        (click)="opeGitHub()"
      ></button>
    </div>
    <div class="btn3">
      <button
      class="button type3"
      (click)="openLinkedIn()"
    ></button>
    </div>

    <div class="mail">
      <form action="https://formsubmit.co/2174a807d4eb5cf124a1498786c90e0a" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="name or email" required />

        <label for="coments">Coments</label>
        <textarea name="coments" id="coments" cols="30" rows="5" placeholder="here write what you want me to know"></textarea>

        <input class="btnform" type="submit" value="Send" />
      </form>
    </div>
  </div>
</div>
