<div class="contenedor">

  <header class="header">
    <h2>Hello and Welcome!!!</h2>
  </header>

  <main class="contenido">
    <h1>Axel Rodrigo Villar Mimbela</h1>
    <h3>Back-end Dev</h3>
  </main>

  <aside class="sidebar">
    <h3>FOTO</h3>
  </aside>

  <div class="widget-1">

    <div><h3>tecnologias: </h3></div>

    <div style="padding-left: 15px;">

      <ul>
        <li style="--i:#a03c6e;--j:#e20c0c;">
          <span class="icon"><i class="fa-brands fa-angular"></i></span>
          <span class="titulo">Angular</span>
        </li>
        <li style="--i:#5382A1;--j:#6AADBF;--k:#4F4F4F;">
          <span class="icon"><i class="fa-brands fa-java"></i></span>
          <span class="titulo">JAVA - SPRING</span>
        </li>
        <li style="--i:#2f03f3;--j:#5bca11;">
          <span class="icon"><i class="fa-brands fa-python"></i></span>
          <span class="titulo">PYTHON</span>
        </li>
      </ul>

    </div>

  </div>

</div>
