<div class="contenedor">

  <header class="header">
    <h2>Hello and Welcome!!!</h2>
  </header>

  <main class="contenido">
    <h1>Axel Rodrigo Villar Mimbela</h1>
    <h3>Back-end Developer</h3>
  </main>

  <aside class="sidebar">
    <h3>FOTO</h3>
  </aside>

  <div class="widget-1">

    <h3>Tools and technologies: </h3>

    <!-- <div class="slider">
      <div class="slide-track">

        <div class="slide">
          <img src="../../../assets/Img/Angular.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/archlinux.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/git.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/IntelliJ-Idea.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/java.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/mysql.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/Neovim.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/postman.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/spring.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/typescript.png" alt="">
        </div>
        <div class="slide">
          <img src="../../../assets/Img/vscode.png" alt="">
        </div>

      </div>
    </div> -->

    <div class="logos">
      <div class="logos-slide">

          <img src="../../../assets/Img/Angular.png" alt="">
          <img src="../../../assets/Img/archlinux.png" alt="">
          <img src="../../../assets/Img/git.png" alt="">
          <img src="../../../assets/Img/IntelliJ-Idea.png" alt="">
          <img src="../../../assets/Img/java.png" alt="">
          <img src="../../../assets/Img/mysql.png" alt="">
          <img src="../../../assets/Img/Neovim.png" alt="">
          <img src="../../../assets/Img/postman.png" alt="">
          <img src="../../../assets/Img/spring.png" alt="">
          <img src="../../../assets/Img/typescript.png" alt="">
          <img src="../../../assets/Img/vscode.png" alt="">

      </div>

      <div class="logos-slide">

          <img src="../../../assets/Img/Angular.png" alt="">
          <img src="../../../assets/Img/archlinux.png" alt="">
          <img src="../../../assets/Img/git.png" alt="">
          <img src="../../../assets/Img/IntelliJ-Idea.png" alt="">
          <img src="../../../assets/Img/java.png" alt="">
          <img src="../../../assets/Img/mysql.png" alt="">
          <img src="../../../assets/Img/Neovim.png" alt="">
          <img src="../../../assets/Img/postman.png" alt="">
          <img src="../../../assets/Img/spring.png" alt="">
          <img src="../../../assets/Img/typescript.png" alt="">
          <img src="../../../assets/Img/vscode.png" alt="">

      </div>

      </div>

    </div>


</div>
